/* Brand role */
/* Structural role */
/* Functional role */
.m-pull-right {
  float: right !important; }

.c-alert, .login-box__alert, .alert-panel__alert {
  border-width: 1px;
  border-style: solid;
  padding: 10px 6px; }
  .c-alert--danger, .login-box__alert, .alert-panel__alert--error {
    color: #db5551;
    border-color: #db5551;
    background-color: #f4cecd; }
  .c-alert--success, .alert-panel__alert--info {
    color: #00af87;
    border-color: #00af87;
    background-color: #b5f2e4; }

.c-header {
  display: flex;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5; }
  .c-header__logo {
    flex-basis: 10%;
    flex-grow: 1;
    display: block;
    padding: 15px 10px; }
  .c-header__navigation {
    flex-basis: 90%;
    flex-grow: 9; }

.c-page {
  box-sizing: border-box;
  padding: 15px 5% 0;
  width: 100vw;
  flex: 1; }

.main-content {
  padding: 15px 5% 0;
  width: 100vw; }

.c-footer {
  padding: 10px;
  font-size: 12px;
  margin-top: 20px;
  background-color: #f5f5f5; }

.c-body {
  margin: 0;
  font-family: Arial;
  font-weight: 100;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column; }
  .c-body a {
    cursor: pointer;
    text-decoration: none; }
  .c-body--default {
    background-color: #fff; }

.c-btn, .agent-type2__toggle, .control-panel__send-alert {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 0px;
  user-select: none;
  height: 34px;
  padding: 6px 11.33333px;
  font-size: 13.33333px;
  line-height: 22px; }
  .c-btn--small, .agent-type2__toggle {
    height: 20px;
    padding: 6px 6.66667px;
    font-size: 8.66667px;
    line-height: 8px; }
  .c-btn--full {
    width: 100%;
    display: block; }
  .c-btn--accept, .agent-type2__toggle, .control-panel__send-alert {
    background-color: #00af87;
    color: #fff; }
    .c-btn--accept:hover, .agent-type2__toggle:hover, .control-panel__send-alert:hover {
      background-color: #007c60;
      color: #fff; }
  .c-btn--edit {
    background-color: #5bc0de;
    color: #fff; }
    .c-btn--edit:hover {
      background-color: #31b0d5;
      color: #fff; }
  .c-btn--remove {
    background-color: #db5551;
    color: #fff; }
    .c-btn--remove:hover {
      background-color: #ce2f2b;
      color: #fff; }

.c-cards {
  display: flex; }

.c-card {
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
  margin: 2px; }

.c-input {
  display: inline-block;
  margin-bottom: 5px; }
  .c-input__label {
    font-weight: bold; }
  .c-input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border: 1px solid #e5e5e5; }
  .c-input--full {
    display: block;
    width: 100%; }
  .c-input__field:disabled {
    border: 0; }

@keyframes c-led-red-blink {
  from {
    background-color: #F00; }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0; }
  to {
    background-color: #F00; } }

.c-led-red, .state__alert {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 14px;
  animation: c-led-red-blink 0.5s infinite; }

.c-led-green, .state__ok {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #89FF00 0 2px 14px; }

.c-led-blue {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px; }

@keyframes c-led-yellow-blink {
  from {
    background-color: #FF0; }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to {
    background-color: #FF0; } }

.c-led-yellow {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #FF0 0 2px 14px;
  animation: c-led-yellow-blink 0.5s infinite; }

/*.c-led-disabled {
    @include c-led(#ABABAA, #ABABAA);
}*/
.c-list, .agents-list__list {
  margin-bottom: 20px;
  padding-left: 0; }
  .c-list__item, .agent-jeep, .agent-type1, .agent-type2, .agent-unknown {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #e5e5e5; }

@keyframes c-loading {
  to {
    transform: rotate(360deg); } }

.c-loader {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #777;
  border-left: 4px solid #777;
  animation: c-loading 1.2s infinite linear; }

.c-navigation {
  list-style: none;
  margin: 0;
  padding: 0; }
  .c-navigation__option {
    display: inline-block; }
  .c-navigation__link {
    display: block;
    padding: 15px 10px;
    font-weight: 600;
    color: #333; }
  .c-navigation__link:hover {
    color: #00af87;
    text-decoration: none; }

.c-panel, .agents-status, .control-panel, .jeep-panel__section, .temperature-panel, .sound-panel, .current-panel {
  background-color: #fff; }
  .c-panel__title, .agents-list__title, .control-panel__title, .temperature-panel__title, .sound-panel__title, .current-panel__title {
    font-size: 20px;
    padding: 6px; }
  .c-panel__content {
    padding: 6px; }
  .c-panel--separator, .agents-status, .control-panel, .jeep-panel__section, .temperature-panel, .sound-panel, .current-panel {
    border-bottom: 1px dashed #e5e5e5; }
  .c-panel--bordered {
    border: 1px solid #e5e5e5; }

.c-sample {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  border-radius: 40px; }
  .c-sample--brand-primary {
    background-color: #00af87; }
  .c-sample--brand-text {
    background-color: #333; }
  .c-sample--brand-link {
    background-color: #337ab7; }
  .c-sample--brand-component {
    background-color: #f5f5f5; }

.c-switch {
  border: 1px solid #e5e5e5;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .c-switch__input {
    display: none; }
    .c-switch__input:checked + .c-switch__slider {
      background-color: #00af87; }
    .c-switch__input:checked + .c-switch__slider::before {
      transform: translateX(26px); }
    .c-switch__input:focus + .c-switch__slider {
      box-shadow: 0 0 1px #00af87; }
  .c-switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: .4s; }
    .c-switch__slider::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s; }

.c-textarea {
  display: block;
  min-height: 35px;
  padding: 6px 12px;
  width: 100%;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 1.42857; }

.c-control, .control-panel__control {
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 2px 7px;
  color: #333;
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 20px; }
  .c-control__content {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; }

@font-face {
  font-family: 'icomoon';
  src: url(fonts/icons.eot);
  src: url(fonts/icons.eot#iefix) format("embedded-opentype"), url(fonts/icons.ttf) format("truetype"), url(fonts/icons.woff) format("woff"), url(fonts/icons.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

.c-icon {
  /* stylelint-disable */
  font-family: 'icomoon';
  /* stylelint-enable */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .c-icon--red, .agent-type1__icon--alert, .agent-type2__icon--alert {
    color: #db5551; }
  .c-icon--green {
    color: #00af87; }
  .c-icon--thermometer::before {
    content: "\E900"; }
  .c-icon--fire::before {
    content: "\E9A9"; }
  .c-icon--motion::before {
    content: "\E9DC"; }

.c-joystick {
  position: relative;
  background-color: #f2f2f2;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer; }
  .c-joystick__knob {
    position: absolute;
    background-color: #bebfc1;
    width: 50px;
    height: 50px;
    border-radius: 25px; }
    .c-joystick--inactive .c-joystick__knob {
      opacity: 0.2; }
  .c-joystick__drag {
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px; }

.login-box__alert {
  margin-bottom: 10px; }

.agents-status__error {
  margin-bottom: 10px;
  color: #ff7157;
  background: #ffe2e0;
  border: 1px solid #ffd4cc;
  padding: 10px; }

.agent-jeep__link, .agent-type1__link, .agent-type2__link, .agent-unknown__link {
  color: #333; }

.agent-jeep--disabled {
  color: #e5e5e5; }
  .agent-jeep--disabled .agent-jeep__link {
    color: #e5e5e5; }

.agent-type1--disabled {
  color: #e5e5e5; }
  .agent-type1--disabled .agent-type1__link {
    color: #e5e5e5; }

.agent-type2--disabled {
  color: #e5e5e5; }
  .agent-type2--disabled .agent-type2__link {
    color: #e5e5e5; }

.agent-type2__toggle {
  margin-left: 10px; }

.agent-unknown--disabled {
  color: #e5e5e5; }

.control-panel {
  padding-bottom: 10px; }
  .control-panel__alerts {
    margin-left: 15px;
    vertical-align: middle; }
  .control-panel__send-alert {
    margin-left: 15px; }

.dashboard {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; }
  .dashboard__error {
    margin-bottom: 10px;
    color: #ff7157;
    background: #ffe2e0;
    border: 1px solid #ffd4cc;
    padding: 10px; }
  .dashboard__cell, .jeep-panel {
    flex-basis: 50%; }
    @media (min-width: 321px) and (max-width: 767px) {
      .dashboard__cell, .jeep-panel {
        flex-basis: 100%; } }
    .dashboard__cell--full, .jeep-panel {
      flex-basis: 100%; }

.jeep-panel__section {
  padding-bottom: 5px; }

.temperature-chart__x-axis line {
  stroke: #777; }

.temperature-chart__x-axis path {
  stroke: #777; }

.temperature-chart__x-axis text {
  fill: #777; }

.temperature-chart__y-axis line {
  stroke: #777; }

.temperature-chart__y-axis path {
  stroke: #777; }

.temperature-chart__y-axis text {
  fill: #777; }

.temperature-chart__line {
  fill: none;
  stroke: #fb8532;
  stroke-width: 1; }

.temperature-chart__area {
  fill: #fb994e; }

.temperature-panel__current {
  font-size: 24px;
  font-weight: bold;
  text-align: center; }

.temperature-panel__chart {
  text-align: center; }

.sound-chart__x-axis line {
  stroke: #777; }

.sound-chart__x-axis path {
  stroke: #777; }

.sound-chart__x-axis text {
  fill: #777; }

.sound-chart__y-axis line {
  stroke: #777; }

.sound-chart__y-axis path {
  stroke: #777; }

.sound-chart__y-axis text {
  fill: #777; }

.sound-chart__line {
  fill: none;
  stroke: #fb8532;
  stroke-width: 1; }

.sound-chart__area {
  fill: #fb994e; }

.sound-panel__current {
  font-size: 24px;
  font-weight: bold;
  text-align: center; }

.sound-panel__chart {
  text-align: center; }

.current-panel__annotate {
  color: #c2c2c2; }

.state__item {
  margin-left: 10px;
  margin-bottom: 7px; }

.state__status {
  display: inline-block;
  line-height: 20px;
  margin-right: 7px; }

.state__name {
  display: inline-block;
  line-height: 20px; }

.state__ok {
  width: 20px;
  height: 20px; }

.state__alert {
  width: 20px;
  height: 20px; }

.alert-panel {
  position: fixed;
  right: 10px;
  bottom: 10px; }
  .alert-panel__alert {
    width: 350px;
    margin-bottom: 3px;
    opacity: 1;
    transition: opacity 2s; }
    .alert-panel__alert.show {
      opacity: 0; }
    .alert-panel__alert.hide {
      display: none; }

